<div class='container'>
<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <p>Name: </p> <h2><%= f.text_field :name %></h2>
  <p>Email: </p> <h2><%= f.text_field :email %></h2>
  <p>Password: </p> <h2><%= f.password_field :password %></h2>
  <p>Password Confirmation: </p> <h2><%= f.password_field :password_confirmation %></h2>
  <p><%= f.submit "Submit", class: 'btn btn-success' %></p>

<% end %>
</div>